
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


.about {
  background-image: url('../images/mountains.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  height: 65rem;
  width: 100%;
  margin-top: 50px;
}

.about__section{
  display: flex;
  flex-direction: column;
  margin-top: -200px;
}

.about__image{
   border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  color: white  ;
  /* margin-top: 1px; */
}

.about__name{
  color: whitesmoke;
  font-size: 50px;
  padding: 30px;
font-family: 'Nanum Gothic', sans-serif;

}

.about__description{
  font-size: 15px;
  color: whitesmoke;
  margin-top: 55px;
font-family: 'Nanum Gothic', sans-serif;

}
