/* .header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
}

.header__logo {
 display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}


.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  
}

.header__nav {
  display: flex;
  justify-content: space-evenly;

}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

a{
text-decoration:none;
} */

/* ------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


.header{
  position: sticky;
  top: 0;
  height: 70px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo{
font-family: 'Nanum Gothic', sans-serif;
padding-left: 500px;

font-size: large;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-family: 'Nanum Gothic', sans-serif;

}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  header{
    color: red;
  }

} 