 section {
   width: 350px;
   height: 130px;
   overflow-y: scroll;
   border: 1px solid black;
   font-size: 0; 
   scroll-behavior: smooth;    /* <----- THE SECRET ---- */
 }

 section div{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-size: 8vw;
}