 section {
   width: auto;
   height: 900px;
   overflow-y: scroll;
   border: 1px solid black;
   font-size: 0; 
   scroll-behavior: smooth; 
 }

 section div{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-size: 8vw;
}